.login-container {
  background-color: #dceeef;
  height: 500px;
  width: 600px;
}
.login-content {
  margin: auto;
  text-align: center;
  padding-top: 40px;
}
.login-welcome {
  font-family: 'Abril Fatface', cursive;
  font-size: 22px;
}
.login-p {
  width: 350px;
  font-size: 14px;
  color: rgba(0,0,0,.54);
  line-height: 1.5;
  font-weight: bold;
  margin: auto;
}
.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}
.login-input {
  padding: 10px;
  border: 2px solid #dceeef;
  border-radius: 8px;
}
input {
  font-size: 14px;
  width: 150px;
  margin-top: 10px;
}
.demo-login-button {
  width: 150px;
  margin-top: 10px;
  padding-top: 2px;
  font-size: 16px;
  background-color: #fff;
  border-radius: 8px;
}
.login-form {
  padding-top: 20px;
}

.login-signup-link {
  font-size: 12px;
  padding-top: 20px;
}

.form-submit {
  font-size: 16px;
  background-color: #fff;
  border-radius: 8px;
}

.switch-modal {
  text-decoration: none;
  color: #239081;
}

.terms-of-service {
  text-decoration: underline;
  color: black;
}
.error {
  color: red;
  padding-top: 10px;
}
.close-modal {
  color: grey;
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 15px;
  padding-top: 10px;
}
.close-modal:hover {
  cursor: pointer;
}
