.header-nav {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  height: 65px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.header-nav {

}

.header-nav p {
  font-family: 'Abril Fatface', cursive;
  font-size: 28px;
}

.heading-link {
  font-family: 'Abril Fatface', cursive;
  text-decoration: none;
}
.heading-link:visited {
  font-family: 'Abril Fatface', cursive;
  text-decoration: none;
  color: black;
}
.link-new-story {
  text-decoration: none;
  color: black;
  font-size: 12px;
  padding-right: 10px;
}
.link-new-story:visited {
  color: black;
  text-decoration: none;
}
.button-link {
  font-size: 11px;
  text-decoration: none;
}

.upgrade-button {
  color: rgba(0,0,0,.54);
}

.login-signup-buttons {
  color: #03a87c;
  height: 37px;
}

.sign-in-button {
  margin-right: 16px;
}

.sign-up-button {
  display: inline-block;
  vertical-align: middle;
  line-height: 24px;
  border: 1px solid #03a87c;
  border-radius: 5px;
  padding-left: 16px;
  padding-right: 16px;
}
.logout-button {
  font-size: 12px;
}
