.header-nav {
  max-width: 1040px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  height: 65px;
}

.header-nav h1 {
  font-family: 'Abril Fatface', cursive;
}

.login-signup-buttons {
  color: #03a87c;
  width: 207px;
  height: 37px;
}

.sign-up-button {
  display: inline-block;
  vertical-align: middle;
  line-height: 37px;
  border-radius: 2px solid #03a87c;
}
