.article-container {
  width: 700px;
  margin: auto;
  padding-top: 20px;

  .story-bib {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;

    .comment-header {
      display: flex;
      align-items: center;
      .comment-card-profile-pic {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .comment-card-bib {
        margin-left: 10px;

        .comment-author {
          color: #4286f4;
          font-size: 14px;
        }
        .comment-date {
          color: grey;
          font-size: 12px;
        }
      }
    }
    .story-left {

      .story-bib-author {
        font-size: 12px;
        line-height: 0.2;
      }
      .story-bib-date {
        font-size: 12px;
        line-height: 0.2;
        color: rgba(0,0,0,.54);
      }
    }

    .story-right {
      align-self: center;
      .button-group {
        display: flex;
        justify-content: space-between;

        .edit-button {
          text-decoration: none;
          color: #03a87c;
          margin-right: 10px;
        }
        .edit-button:visited {
          text-decoration: none;
          color: #03a87c;
        }

        .delete-button {
          font-size: 16px;
          color: red;
        }

        .delete-button:hover {
          cursor: pointer;
        }
      }
    }
  }
  .article-story-title {
    font-family: 'Merriweather', serif;
    font-size: 24px;
  }
  .story-detail-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .article-story-body {
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    font-weight: lighter;
    line-height: 1.4;
    color: #3e4040;
  }

  .article-comments-container {
    width: 640px;
    margin: auto;
    padding-top: 50px;

    .registration-container {
      height: 200px;

      .registration-content {
        padding: 32px;

        .registration-prompt {
          text-align: center;

          .blue-signin {
            color: green;
          }
        }
      }
    }
  }
}
